.read{
    display: flex;
    img{
        width: 290px;
        height: 250px;
    }
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
}
.cc{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.iu{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}